@font-face{
	font-family: "Cinepolis";
	src: url("../fonts/Cinepolis.otf");
}

body{
	
	background-color: #eaeaea;
}

/*//////BARRA DE NAVEGACION QUE SE VE ARRIBA//////*/
/*Barra completa*/
.navbar{
	grid-area: navbar;
	background: linear-gradient(to top right,#0b254a,#12407e);

}

/*Titulo*/
.navbar-brand{
	font-family: Cinepolis;

}

/*////PIE DE PAGINA DE TODAS LAS PANTALLAS/////*/
footer{
	grid-area: footer;
		height: 130px;
	display: flex;
	flex-direction: row;
		justify-content: space-between;
	background: linear-gradient(to top right,#000 0,#0b254a);
	color: #808080;
	padding: 20px;
}

.footer_login{
	
}

.creditos{

}


/*///////DISEÑO DE LA PAGINA PRINCIPAL DEL SITIO////////*/
/*contenedor del sitio index*/
.container_index{
background-color: white;
	width: 100%;
	max-width: 100%;
	padding-left: 0;
	padding-right: 0;

	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(5, auto);
	grid-template-areas: "navbar"
						 "slide"
						 "cartelera"
						 "prox"
						 "footer"
						 ;
}

/*Carrousel de anuncios (SLIDE)*/
.carousel{
	grid-area: slide;
}

/*Contenedor de toda la seccion de cartelera*/
.cartelera{
	grid-area: cartelera;
	width: 100%;
	min-height: calc(100vh - 56px - 130px);
	margin: 56px auto 20px auto;
}


.items_cartelera{
	display: flex;
	column-gap: 15px;
	height: 60px;
}

.item_cartelera{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

}

.cartelera_proximamente{
	grid-area: prox;
	width: 100%;
	margin: 20px auto 40px auto;
	background-color: #343a40;
}

/*Contenedor de titulo de cartelera y los selects*/
.cabecera_cartelera{
	width: 100%;
	background-color: black;
	margin-bottom: 20px;
	padding: 10px 0 15px 0;
	

	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	}

.cabecera_proximo_estrenos{
	width: 100%;

	margin-bottom: 20px;
	padding: 10px;
	

	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;	
}

/*Titulo de la cartelera*/
.titulo_cartelera{
	font-size: 26px;
	color: white;
	font-family: Montserrat;
}

.label_cartelera{
	color: white;
}


/*Formulario que contiene los selects de la cartelera (filtros)*/
.formulario_select_sucursal{
	width: 95%;
	grid-area: selector;
	display: flex;

}

/*Selects del formulario de la cartelera (filtros)*/
.formulario_select_sucursal select{
	padding: 10px;
	background-color: white;
	color: black;
	border-radius: 4px;
}



.boton_verTodo{
	width: 100px;
	height: 45px;
	border: 0;
	cursor: pointer;
}

/*Contenedor de los posters junto a sus titulos*/
.posters{
	display: grid;
	grid-template-columns: repeat(auto-fill, 200px);
	grid-auto-rows: 300px;
	grid-gap: 0.5rem;
	justify-content: space-around;
}

.box_img{
	width: 200px;
	height: 285px;
}
.peli_cartelera img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: center;
}

.texto_poster{
	display: block;
	background-color: #4781ff;
	text-align: center;
	color: white;
	white-space: nowrap;
	overflow: hidden;
}

.boton_poster{
	width: 100%;
	height: 100%;
	padding: 0;
	border: 0;
}

.boton_poster:hover{
	cursor: pointer;
}

/*////////////////////////////////////////*/



/*Diseño de secciones de administradores*/
.container_alternative{
		padding-top: 56px;
		width: 100%;
		height: 100vh;
		background-color: #eaeaea;

		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(1, auto);
		grid-template-areas: "herr formulario formulario formulario formulario formulario";
}

.navbar_dev{
	grid-area: herr;
	width: 240px;
	background-color: #374f77;
	border-right: 1px solid #253550;
	box-shadow: 3px 0px 3px gray;
}

.titulo_formulario{
	background-color: #2e4263;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 45px;
	border-radius: 4px 4px 0 0;
}

.titulo_formulario p{
	color: white;
}

.dev_item_link{
	height: 44px;	
	border-top: 1px solid #556b8e;
	border-bottom: 1px solid #253550;
	cursor: pointer;

	display: flex;
	align-items: center;
	padding-left: 20px;
}

.dev_item_link:hover{
	background-color: rgba(66,133,244,0.149);

}

.dev_item_link a{
	width: 100%;
	margin-left: 10px;
	font: 14px sans-serif;
	color: white;
	text-decoration: none;
	line-height: 40px;
}

.dev_item_link:hover .dev_item_link a{
	color: blue;
}


.form_column1, .form_column2, .form_column3{
	display: flex;
	flex-direction: column;
	width: 30%;
}

.form_botones{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 38px;
	margin: 40px 0 40px 0;
	column-gap: 10px;
}

.cont_icon{
	width: 35px;
}

.icono{
	color: white;
	margin-left: 5px;
	font-size: medium;
}

.group_search{
	width: 100%;
	display: flex;
	flex-direction: row;
	column-gap: 15px;
	justify-content: center;
	align-items: center;
	border-left: 1px solid #bcbcbc;
	border-right: 1px solid #bcbcbc;
	padding: 15px 0 15px 0;
}




.form_search{
	display: flex;
	flex-direction: row;
	column-gap: 15px;

}

table{
		border: 1px solid #bcbcbc;
		width: 100%;
}

th{
	text-align: center;
	font-size: 14px;
	background-color: #cecece;
}
.celda{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	font-size: 12px;
	height:  74px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 10px 0 10px;
    text-align: center;
}

.celda_sinopsis{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: center;
	font-size: 12px;
	height:  74px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 10px 0 10px;
}

.fila_tabla:nth-of-type(2n){
	background-color: white;
}

.items_form_login{
	width: 30%;
}


.container_alter_tablas{
		width: 100%;
		background-color: #d6d4d4;

		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(4, auto);
		grid-template-areas: "navbar navbar navbar navbar"
							 "titulo titulo titulo titulo"
							 "formulario formulario formulario formulario"
							 "footer footer footer footer"	;
}

/*Barra debajo del navbar que contiene el titulo del area en que se encuentra*/
.titulo_seccion{
	grid-area: titulo;

	height: 72px;
	padding-left: 16px;
	background-color: #333;
	display: flex;
	align-items: center;
}

/*Titulo de la barra que está debajo del navbar*/
.titulo_seccion h2{
	margin-left : 13px;
	color: white;
	font-family: sans-serif;
	font-size: 16px;
}

/*Contenedor del formulario de las secciones de admin*/
.container_form{
	width: 100%;
	padding: 10px 50px 50px 50px;
	grid-area: formulario;

	display: flex;
	flex-direction: column;
	align-items: center;
}

/*EL formulario*/
.formulario{
	display: flex;
	flex-direction: column;
		border: 1px solid #bcbcbc;
		width: 100%;

}

.bloque_form_columns{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

/*Etiquetas de los campos*/
label{
	margin-top: 5px;
	margin-bottom: 0;
}

.input_general{
	width: 100%;
	height: 36px;
	padding: 6px 12px 6px 12px;
}


.group_checkbox{
	display: flex;
}

.group_checkbox_column1, .group_checkbox_column2{
	width: 49%;

	display: flex;
	flex-direction: column;
}

/*Botón de submit en los formularios*/
.submit{
	width: 150px;
	height: 38px;
}

/*Botón de volver en los formularios*/
.volver{
	width: 150px;
	height: 38px;
}



.btn_eliminar{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70px;
	height: 20px;
	background-color: #dc3545;
	cursor: pointer;
	font-size: 12px;
	border: 0;
	border-radius: 4px;
	color: white;
	align-self: center;
}

.btn_modificar{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70px;
	height: 20px;
	background-color: #17a2b8;
	cursor: pointer;
	margin-bottom: 2px;
	border: 0;
	border-radius: 4px;
	align-self: center;
	
}

.btn_trailer{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 2px;
	width: 70px;
	height: 20px;
	background-color: #28a745;
	cursor: pointer;
	border: 0;
	border-radius: 4px;
	align-self: center;
	
}

.celda a{
	text-decoration: none;
	font-size: 12px;
	color: white;
}

/*///////DISEÑO DE LA PAGINA CON LA INFORMACIÓN SOBRE LA PELICULA/////////*/
.container_pelicula{
	width: 100%;

	background-color:  #efefef;

	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(3, auto);
	grid-template-areas:"titulo"
						 "pelicula"
						 "footer";

}

.titulo_pelicula{
	width: 100%;
	grid-area: titulo;

	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-family: Montserrat;

	font-size: 1.8rem;
	
	margin: 56px 0 0 0;
	text-transform: uppercase;
	background-color: black;
	height: 90px;
}
.titulo_pelicula h3{
	font-weight: bold;
}


.container_pelicula_detalles{
	width: 88%;
	background-color: #efefef;
	margin: auto;
	padding: 20px 70px 20px 70px;
	grid-area: pelicula;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, auto);
	grid-template-areas: 
						"poster trailer trailer "
						 "sinopsis sinopsis detalles"
						 "comprar . detalles";
	grid-row-gap: 20px;
	grid-column-gap: 40px;
}

.poster{
	grid-area: poster;
	height: 390px;	
}

.poster img{
	width: 259Px;
	height: 390px;
	object-fit: cover;
}

.trailer{
	grid-area: trailer;
	justify-self: end;
}

.sinopsis{
	grid-area: sinopsis;
}

.detalles{
	grid-area: detalles;

	font-family: helvetica;
	font-size: 12px;
}

/*boton de comprar*/
.comprar{
	grid-area: comprar;
	max-width: 285px;
	height: 43px;
	align-self: center;
	font-weight: bold;	
}


/*/////DISEÑO DE LA PAGINA DE PEDIDO DE ENTRADAS///////*/
.container_pelicula_entradas{
	width: 88%;
	background-color: #efefef;
	margin: 0 auto 0 auto;
	padding: 20px 70px 20px 70px;
	grid-area: pelicula;
		justify-items: center;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, auto);
	grid-template-areas: "poster form form form"
						 "detalles form form form"	 ;
	grid-row-gap: 20px;
	grid-column-gap: 40px;


}


.form_compra{
	grid-area: form;
	display: flex;
	flex-direction: column;
	gap:12px;
}

.entrada_sucursal{
	grid-area: form;
	width: 250px;
	height: 40px;
}


.radio{
	display: none;

}

.container_fechas{
	display: flex;
	flex-direction: row;
	column-gap: 5px;

}

.dia{
	background-color: #c20000;
	border-top: #e0b32e;
	color: white;
	font-size: 12px;
}


.lbl-fecha{
	background-color: white;
	border:1px solid #e0b32e;
	width: 75px;
	height:75px;
	cursor: pointer;
	text-align: center;
	
	display: flex;
	flex-direction: column;
	
}

.lbl-fecha:hover{
	border:1px solid blue;
}


.lbl-horario{
	text-align: center;
	width: 75px;
	height:25px;
	cursor: pointer;
	box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.3);
}

input[type="radio"]:checked + .lbl-radio{
	border:1px solid blue;
}

.cantidad_entradas{
	width: 250px;
}

.pagar{
	max-width: 285px;
	width: 285px;
	height: 43px;
	font-weight: bold;
	margin-top: auto;
	align-self: flex-end;
}

.items_login{
	width: 250px;
	align-self: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 5px;
}

.input_login{

	width: 100%;
}

.btn_login{
	margin: 20px 0 40px 0;
	align-self: center;
}
/*/////DISEÑO DE LA PAGINA DE PAGO////*/

.container_pelicula_pago{
	width: 88%;
	background-color: #efefef;
	margin: 0 auto 0 auto;
	padding: 20px 70px 20px 70px;
	grid-area: pelicula;


	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, auto);
	grid-template-areas: "poster centro centro centro  "
						"detalles centro centro centro"
						
						 	 ;
	grid-row-gap: 20px;
	grid-column-gap: 40px;



}

.form_pago{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top:10px; 

}
.centro{
	grid-area: centro;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.detalle_pedido{
	grid-area: pedido;
	background-color: white;
	font-size: 12px;

}
.inputs_pago{
	display: flex;
	flex-direction: column;
	width: 49%;
	grid-row-gap: 2px;
}

.columnas_pago{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	column-gap: 20px;

}

.btn_conf_pago{

	margin: 30px auto 5px auto;
	font-weight: bold;
	align-self: flex-end;
}

.notificacion{
	min-height: calc(100vh - 56px - 122px);
	display: flex;
	justify-content: center;
}

.mensaje{
	width: 80%;
	padding: 150px;
	text-align: center;
	font-weight: bold;
}




